
.compliment-extra {
  font-size: 2em;
  color: black;
  bold: true;
  font-family: Sans-Serif;

}

.me-box {
background-image: url(gee_talk_files/images/me.png);
height: 280px;
width: 220px;
position: absolute;
bottom:100px;
    right:30%;
    left:30%;
}


.client-box {
background-image: url(gee_talk_files/images/client_server.png);
height: 320px;
width: 730px;
position: absolute;
bottom:20px;
    right:20%;
    left:20%;
}


.problems-box {
background-image: url(https://media.giphy.com/media/xiAqCzbB3eZvG/giphy.gif);
height: 250px;
width: 425px;
position: absolute;
right: 20px;
bottom: 40px;
}

.ferrari-box {
background-image: url(https://media.giphy.com/media/TeXVQ0AFBukqA/giphy.gif);
height: 250px;
width: 425px;
position: absolute;
right: 20px;
top: 40px;
}

.water-box {
background-image: url(gee_talk_files/images/water.gif);
height: 150px;
width: 150px;
position: absolute;
left: 150px;
}

.rr-box {
background-image: url(gee_talk_files/images/reducer.png);
height: 320px;
width: 730px;
position: absolute;
bottom:20px;
    right:20%;
    left:20%;
}

.rrhucs-box {
background-image: url(gee_talk_files/images/rr_hucs.gif);
height: 400px;
width: 800px;
position: absolute;
top:200px;
right: 20px;
}

.rrPts-box {
background-image: url(gee_talk_files/images/pts.gif);
height: 400px;
width: 750px;
position: absolute;
top:200px;
right: 20px;
}

.deep-box {
background-image: url(https://media.giphy.com/media/APqEbxBsVlkWSuFpth/giphy.gif);
height: 450px;
width: 425px;
position: absolute;
bottom: 100px;
  right:50%;
  left:50%;
}

.units-box {
background-image: url(gee_talk_files/images/units.gif);
height: 400px;
width: 800px;
position: absolute;
top:150px;
  right:25%;
  left:25%;
}

.unitsrr-box {
background-image: url(gee_talk_files/images/units_rr.gif);
height: 400px;
width: 800px;
position: absolute;
top:150px;
  right:25%;
  left:25%;
}


.end-box {
background-image: url(https://media.giphy.com/media/l2SqdEySxgqMhWqsg/giphy.gif);
height: 250px;
width: 425px;
position: absolute;
bottom: 100px;
  right:25%;
  left:25%;
}
